/* ChatPage CSS */
.chat-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgba(229, 236, 246, 0.249);
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    font-size: 13px;
    width: 250px;
    background: rgba(42, 122, 233, 0.326);
    padding: 8px;
    border-right: 1px solid rgba(14, 77, 164, 0.326);
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.chat-history {
    max-height: 80%;
    overflow-y: auto;
    margin-top: 30px;
}

.chat-message {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    color: #000;
    width: auto;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    /* Thêm thuộc tính này để nội dung tự động xuống dòng */
    word-wrap: break-word; /* Đảm bảo từ dài sẽ xuống dòng */
    word-break: break-word; /* Hỗ trợ xuống dòng cho các từ dài */
    white-space: pre-wrap; /* Giữ nguyên khoảng trắng và xuống dòng theo nội dung */
}

.user-ask {
    background-color: rgba(42, 122, 233, 0.326);
    margin-right: 27%;
    margin-left: auto;
    transition: bottom 0.3s ease, margin-left 0.3s ease;
}

.bot-answer {
    background-color: #6fbeff;
    margin-right: auto;
    margin-left: 27%;
    transition: bottom 0.3s ease, margin-right 0.3s ease;
}
.main-content.no-sidebar .chat-message {
    margin-right: 30%;
    margin-left: auto;

}


.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 100px;
    transition: margin-bottom 0.3s ease;
}

.chat-input-area {
    display: flex;
    gap: 10px;
    width: 80%;
    max-width: 600px;
    height: auto;
    position: absolute;
    bottom: 40px;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, margin-left 0.3s ease;
    margin-left:40%;
}
.main-content.no-sidebar .chat-input-area {
    margin-left: 48%; 
}

.main-content.no-sidebar {
    margin-left: 0;
}

.new-chat {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.select-model {
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.select-prompting {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.account-info {
    background-color: #fff;
    color: #000;
}

.chat-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.selected {
    font-weight: bold;
}

.chat-title-text {
    cursor: pointer;
}

.chat-title span {
    color: #000;
}


/* ChatPage CSS */
.chat-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.chat-title:hover {
    background-color: #6fbeff; 
}

.chat-title.selected {
    background-color: #6fbeff; 
}

.chat-title-text {
    cursor: pointer;
    color: inherit; 

    white-space: nowrap; /* Ngăn không cho text xuống dòng */
    overflow: hidden; /* Ẩn phần text thừa */
    text-overflow: ellipsis; /* Thêm "..." nếu text quá dài */
    max-width: 110px; /* Điều chỉnh chiều rộng tối đa theo nhu cầu */
    display: inline-block; /* Đảm bảo text hiển thị theo một dòng */
}

.his-chat {
    font-size: 23px;
}

.input-session-name {
    margin-bottom: 10px
}

.session-context {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    color: #c5c5c5;
    font-style: italic;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    margin-bottom: 20px;
}

.spin-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}